.divider {
    background-color: transparent;    border: 0;
}

.orientation-horizontal {
    width: 100%;
    height: var(--border-width-thick);
    background-color: var(--color-black);
    margin: var(--space-lg) 0;
    position: relative;
}

.orientation-horizontal.stylized {
    height: calc(var(--border-width-thick) * 2);
    background-color: transparent;
    border-top: var(--border-width-thick) solid var(--color-black);
    border-bottom: var(--border-width-thin) solid var(--color-black);
    margin: var(--space-xl) 0;
}

.orientation-vertical {
    width: var(--border-width-thick);
    height: auto;
    align-self: stretch;
    background-color: var(--color-black);
    margin: 0 var(--space-lg);
    position: relative;
}

.orientation-vertical.stylized {
    width: calc(var(--border-width-thick) * 2);
    background-color: transparent;
    border-left: var(--border-width-thick) solid var(--color-black);
    border-right: var(--border-width-thin) solid var(--color-black);
    margin: 0 var(--space-xl);
}