.dashboardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "info       map"
    "dests      map"
    "travellers map";
  gap: 1rem;
  padding: 1rem;
}

.infoBox {
  grid-area: info;
}

.mapBox {
  grid-area: map;
}

.destinationsBox {
  grid-area: dests;
}

.travellersBox {
  grid-area: travellers;
}

