.mapContainer {
  width: 100%;
  height: 500px;
  min-height: 300px;
}

.mapContainer > div {
  width: 100%;
  height: 100%;
}

.searchControls {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
}

.addControls {
    margin-top: 1rem;
} 